<p style="color: green"><%= notice %></p>

<h1>... ultimos Tweets</h1>

<%= link_to "escribe aqui....", new_tweet_path %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>



<%= form_with url: tweets_path, method: :get do |form|%>
 <%= form.text_field :query_text, placeholder: t('Query text'), value: params[:query_text]%>
<%end%>

<br>
<br>
<br>
<br>
<%=raw pagy_nav(@pagy)%>
<br>
<br>
<br>
<br>